{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}


<nav class="navbar navbar-expand-lg bg-body-tertiary p-3 m-2">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Navbar </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div  id="navarText" >
            <ul class="navbar-nav me-auto mb-2 mb-lg-">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">HOME</a>
              </li>
              <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        TYPE
                      </a>
                      <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">4*4</a></li>
                        <li><a class="dropdown-item" href="#">mazda</a></li>
                        
                      </ul>
                  </li>
                  <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        CATEGORIE
                      </a>
                      <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                       
                      </ul>
                  </li>
                  <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                         PRIX
                      </a>
                      <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                       
                      </ul>
                  </li>
              <li class="nav-item">
                <a class="nav-link" href="#">APROPOS</a>
              </li>
             
                
            
          </div>
        </div>
      </nav>
{% endblock %}
